<!-- Remove the container if you want to extend the Footer to full width. -->
<div class=" my-5">

    <footer class="text-white text-center text-lg-start " style="background-color:  #28669b;">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <a class="navbar-brand" href="#">
                <img src="/LOGO.png" alt="Logo" width="200" height="80" class="d-inline-block " id="log">
                 
              </a>
          <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
            recusandae modi quae quas provident quam expedita libero. Dicta d
            eleniti minima culpa quae 
            sed suscipit reiciendis? Quidem odit perferendis quod!
          </p>
  
          <p>
            Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
            molestias.
          </p>
  
          <div class="mt-4 mx-auto" style=" display: flex;" id="social" style="text-align: center;">
            <!-- Facebook -->
            <a type="button" class="btn btn-floating">
              <img src="/facebook.svg" alt="" class="w-20">
            </a>
            <!-- Dribbble -->
            <a type="button" class="btn btn-floating  ">
              <img src="/instagram (1).svg" alt="">
            </i></a>
            <!-- Twitter -->
            <a type="button" class="btn btn-floating ">
              <img src="/discord.svg" alt="">
            </a>
            <!-- Google + -->
            <a type="button" class="btn btn-floating ">
              <img src="/vercel.svg" alt="">
            </a>
            <!-- Linkedin -->
          </div>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 mt-5">
          <h5 class="text-uppercase mb-4 pb-1" >Contactos</h5>
  
  
          <ul class="fa-ul " style="margin-left: 1.65em; text-align: justify; ">
            <li class="mb-3">
              <span class="ms-2">Luanda, Angola</span>
            </li>
            <li class="mb-3">
              <span class="ms-2">profocel@gmail.com</span>
            </li>
            <li class="mb-3">
              <span class="ms-2">+244 956 388 860</span>
            </li>
            <li class="mb-3">
              <span class="ms-2">+244 956 388 860</span>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 mt-5" style="text-align: center;">
          <h5 class="text-uppercase mb-4">Disponibilidades</h5>
  
          <table class="table text-center text-white">
            <tbody class="font-weight-normal" style="text-align: justify;">
              <tr>
                <td>Seg - Sex:</td>
                <td>9h - 18h</td>
              </tr>
              <tr>
                <td>Sábado:</td>
                <td>8h - 13h</td>
              </tr>
              <tr>
                <td>Domnigo:</td>
                <td>9h - 13h</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="">PROFOCEL</a>
    </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->