<%- include('./partials/header') %>

<!-- Background image -->
<div
  class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('/backImg.jpeg');
    background-repeat: no-repeat ;
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;
  "
>
  <h2 class="text-white animated-text">
    <span class="span1"></span>
    <span class="span2"></span>
    <span class="span3"></span>
    <span class="span4"></span>
    <span class="span5"></span>
    <span class="span6"></span>
    <span class="span7"></span>
    <span class="span8"></span>
    <span class="span9"></span>
    <span class="span10"></span>
    <span class="span11"></span>
    <span class="span12"></span>
    <span class="span13"></span>
    <span class="span14"></span>
  </h2>
</div>
<!--Sobre Nós-->
  <div class="card">
    <div class="card-body sobreNosCard ">
      <h4 class="card-title"> <div class="h4">Sobre Nós</div></h4>
    </div>
  </div>
  <div class="card">
    <div class="card-body sobreNosCard1">
      <h5 class="card-title">Be humble, do you job and do it well</h5>
      <p class="card-text">A PROFOCEL é uma entidade empresaroal... Lorem ipsum dolor sit amet, 
        consectetur adipisicing elit. Hic, ad sed! Ipsum deserunt consectetur, excepturi fugit reiciendis
         consequuntur
         molestiae in, hic accusantium rem distinctio. Quas quam a facere qui alias
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ipsam dolore 
         ducimus possimus, necessitatibus ex atque neque blanditiis molestiae perspiciatis natus enim 
         maxime debitis? 
          odit sapiente sequi distinctio possimus..</p>
      <p class="card-text" style="color: blue;"><small class="">Ler mais</small></p>
    </div>
  </div>

  <!--Serviços-->

  <div class="card">
    <div class="card-body sobreNosCard ">
      <h4 class="card-title"> <div class="h4">Serviços</div></h4>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 mx-5 border-0">
    <div class="col mt-3">
      <div class="card h-100">
        <img src="IT.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color: #28669b;">Consultoria de TI</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Quo, voluptate officiis nesciunt dolore provident aliquam
             aliquid. Porro nobis assumenda excepturi ullam est similique quia ipsum
             qui iusto, ad consequatur maxime.Lorem, ipsum dolor sit amet consectetur
             adipisicing elit. Tempore perspiciatis libero beatae, quaerat accusamus
              laudantium praesentium voluptas maiores fugiat, omnis veniam nam enim 
            voluptatibus. Consectetur quas consequuntur 
            accusantium inventore ea?</p>

            <p class="card-text" style="color: blue;"><small class="">Ler mais</small></p>
        </div>
      </div>
    </div>
    <div class="col mt-3">
      <div class="card h-100">
        <img src="/training.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color: #28669b;">Formação</h5>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Tempore perspiciatis libero beatae, quaerat accusamus
             laudantium praesentium voluptas maiores fugiat, omnis veniam nam enim 
           voluptatibus. Consectetur quas consequuntur 
           accusantium inventore ea?Lorem, ipsum dolor sit amet consectetur
           adipisicing elit. Tempore perspiciatis libero beatae, quaerat accusamus
            laudantium praesentium voluptas maiores fugiat, omnis veniam nam enim 
          voluptatibus. Consectetur quas consequuntur 
          accusantium inventore ea?</p>

          <p class="card-text" style="color: blue;"><small class="">Ler mais</small></p>
        </div>
      </div>
    </div>
    
  </div>

  <%- include('./partials/footer') %>
  